body {
    background-color: #010101;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    user-select: none;
    color: white;
}



.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: white;
}

header {
    background-color: #CF9FFF;
    text-align: center;
    padding: 10px;
    color: white;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    color: white;
}


.image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    color: white;
}

/*#back-to-index button {
    padding: 10px 20px;
    background-color: #902bf5;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white;
}

    #back-to-index button:hover {
        background-color: #902bf5;
        color: white;
    }
*/
img {
    max-width: 100%;
    height: auto;
    color: white;
}



header {
    border: 10px solid #E0B0FF;
    box-sizing: border-box;
    color: white;
}

.concert {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    color: white;
}

#title {
    text-align: center;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: white;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    color: white;
}

    .gallery img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        color: white;
    }


.dropdown {
    position: relative;
    display: inline-block;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    color: white;
}

    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        color: white;
    }

        .dropdown-content a:hover {
            background-color: #575757;
            color: white;
        }

.dropdown:hover .dropdown-content {
    display: block;
    color: white;
}

.dropdown > a:hover {
    background-color: #c795fa;
    color: white;
}
